.cancel {
    vertical-align: middle;
  }
  
  .status-cell {
    line-height: 1.5; /* Adjust this value as needed */
  }
.fake-table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px 20px 20px 20px;
    padding-right: 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .fake-table th, .fake-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .fake-table th {
    background-color: #f4f4f4;
  }
  
  .fake-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .button {
    width: calc(33.33% - 10px);
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color:  #0056b3;
  }
  .center-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(50vh - 60px); /* Adjust as needed */
    margin-top: 60px; /* Adjust the top margin as needed */
    font-weight: bold;
  }